<div class="custom-text">
オススメ整体院ランキング
<ol>
  <li>
    <%= image_tag "rank1.png", alt: 'ランキング1位のロゴ', class: "img-fluid" %>
    <a href="https://rebalance-seitai.com/" class="rank-link">幌向リバランス整骨院</a>
  </li>
  <li>
    <%= image_tag "rank2.png", alt: 'ランキング2位のロゴ', class: "img-fluid" %>
    <a href="#" class="rank-link">たむたむケア</a>
  </li>
  <li>
    <%= image_tag "rank3.png", alt: 'ランキング3位のロゴ', class: "img-fluid" %>
    <a href="#" class="rank-link">pikawaka整体院</a>
  </li>
</ol>
</div>

<div class="custom-text">
オススメ筋トレランキング
<ol>
  <li>
    <%= image_tag "rank1.png", alt: 'ランキング1位のロゴ', class: "img-fluid" %>
    <a href="#" class="rank-link">逆立ち</a>
  </li>
  <li>
    <%= image_tag "rank2.png", alt: 'ランキング2位のロゴ', class: "img-fluid" %>
    <a href="#" class="rank-link">足のグーパー体操</a>
  </li>
  <li>
    <%= image_tag "rank3.png", alt: 'ランキング3位のロゴ', class: "img-fluid" %>
    <a href="#" class="rank-link">中殿筋トレーニング</a>
  </li>
</ol>
</div>

<div class="custom-text">
オススメサプリメントランキング
<ol>
  <li>
    <%= image_tag "rank1.png", alt: 'ランキング1位のロゴ', class: "img-fluid" %>
    <a href="#" class="rank-link">イヌリン</a>
  </li>
  <li>
    <%= image_tag "rank2.png", alt: 'ランキング2位のロゴ', class: "img-fluid" %>
    <a href="#" class="rank-link">オメガ３</a>
  </li>
  <li>
    <%= image_tag "rank3.png", alt: 'ランキング3位のロゴ', class: "img-fluid" %>
    <a href="#" class="rank-link">GronG PROTEIN</a>
  </li>
</ol>
</div>